@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.box {
    background-color: white;     
    padding: 40px;                  
    border-radius: 15px;            
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;;
}
.pic {
    justify-content: space-between;
    width: 20   0px;
    height: 200px;
}

#btn {
  background-color: #ff6b81;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#btn:hover {
  background-color: #ff4b6e;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
